In [1]:
import pandas as pd

In [58]:
data = pd.read_csv("results_scheduled2.csv")
del data["Unnamed: 4"]

In [59]:
graphs = data.Graph.unique()

In [60]:
graphs

array(['coPapersDBLP.mtx', 'rmat-b.mtx', 'rmat-er.mtx', 'europe_osm.mtx',
       'wiki-topcats.mtx'], dtype=object)

In [61]:
results = []
for gr in graphs:
    g1 = data[data.Graph == gr]
    results.append(g1.groupby("NumThreads").mean())

In [62]:
results

[                Time  NumColors
 NumThreads
 1           0.055638        337
 2           0.096860        337
 4           0.092473        337
 8           0.075829        337
 16          0.051072        337,                 Time  NumColors
 NumThreads
 1           2.551425       85.0
 2           4.606700       85.0
 4           3.322316       88.0
 8           2.361275       90.8
 16          1.678054       94.1,                 Time  NumColors
 NumThreads
 1           3.448034       11.0
 2           5.114937       11.4
 4           2.977003       11.1
 8           1.626535       11.0
 16          1.066201       11.1,                 Time  NumColors
 NumThreads
 1           1.048343          5
 2           1.199993          5
 4           0.792930          5
 8           0.589196          5
 16          0.478999          5,                 Time  NumColors
 NumThreads
 1           0.144427       61.0
 2           0.272854       59.7
 4           0.248214       59.8
 8           0.163267       59.3
 16          0.114978       62.5]

In [63]:
data[(data.Graph == "rmat-er.mtx" ) &  (data.Time < 1)]

           Graph  NumThreads      Time  NumColors
104  rmat-er.mtx          16  0.917224         11
129  rmat-er.mtx          16  0.954348         11
134  rmat-er.mtx          16  0.942613         11